body {
  justify-content: center;
}
.flipbook-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}
.container {
  margin-top: 20px;
  text-align: center;
}
.page-paragraph {
  /* height: 100%; */
  flex-grow: 1;
  text-align: justify;
  margin: 10px 0;
  padding: 4px 0;
  box-sizing: border-box;
  line-height: 150%;
}
.image-container {
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
}

.page-cover {
  font-weight: bold;
  font-size: 32px;
}

.page-content {
  text-align: center;
  padding: 20px;
}

button {
  margin: 10px;
}
.page-paragraph {
  /* height: 100%; */
  flex-grow: 1;
  text-align: justify;
  margin: "10px 0";
  padding: "4px 0";
  line-height: "1.6";
  text-align: "justify";
  box-sizing: border-box;
}

.page-footer {
  height: 30px;

  font-size: 80%;
  position: absolute;
  bottom: 0;
  display: block;
  width: 90%;
  overflow: hidden;
}
